{%  extends "base.html" %}
{% load static %}

{% block content %}
    <div class="content-container d-flex flex-column gap-3 justify-content-center align-items-center">
        <div class="header">
            <h1>Profile details</h1>

        </div>
        <div class="user-info forms">
            <div class="d-flex gap-2 justify-content-end align-items-center">
                <div class="tooltip-container">
                    <form>
                        <button type="button" class="profile-edit-button" onclick="window.location.href='{% url 'profile-update' pk=profile.user.pk %}'"><i class="fa-solid fa-pen"></i></button>
                        <span class="tooltip-text">Edit Profile</span>
                    </form>
                </div>
                <div class="tooltip-container">
                    <form method="POST" action="{% url 'profile-delete' pk=profile.user.pk %}" class="profile-delete-button">
                          {% csrf_token %}
                          <button type="submit" class="profile-delete-button"><i class="fa-solid fa-trash"></i></button>
                    </form>
                    <span class="tooltip-text">Delete Profile</span>
                </div>
            </div>
            <h4><b>Username:</b> {{ request.user.username }}</h4>
            <h4><b>Email:</b> {{ request.user.email }}</h4>
            <h4><b>First name:</b> {{ request.user.profile.first_name }}</h4>
            <h4><b>Last name:</b> {{ request.user.profile.last_name }}</h4>
        </div>

    </div>

{% endblock %}