{%  extends "base.html" %}
{% load static %}

{% block content %}
    <div class="content-container d-flex flex-column gap-3 justify-content-center align-items-center">
        <div class="header">
            <h1>Profile details</h1>
            <details id="task-details">
              <summary ></summary>
              <div class="popup-menu">
                  <p><a href="{% url 'edit-task' pk=request.user.pk %}" class="times-new-roman">Edit</a></p>
                  <p><a href="{% url 'delete-task' pk=request.user.pk %}" class="times-new-roman">Delete</a></p>
              </div>
            </details>
        </div>
        <div class="user-info d-flex flex-column gap-3 justify-content-center align-items-center">
            <h4>Username: {{ request.user.username }}</h4>
            <h4>Email: {{ request.user.email }}</h4>
            <h4>First name: {{ request.user.profile.first_name }}</h4>
            <h4>Last name: {{ request.user.profile.first_name }}</h4>
        </div>

    </div>

<script>
document.addEventListener("click", function (e){

        const detailEl = document.getElementById("task-details");
        if (detailEl && !detailEl.contains(e.target)) {
            detailEl.removeAttribute("open")
        }
});
</script>
{% endblock %}