{%  extends "base.html" %}
{% load static %}

{% block content %}
    <div class="content-container d-flex flex-column gap-3 justify-content-center align-items-center">
        <div class="header">
            <h1>Profile details</h1>

        </div>
        <div class="user-info forms">
            <div class="d-flex gap-2 justify-content-end align-items-end">
                <div class="tooltip-container">
                    <a href="#"><i class="fa-solid fa-pen"></i></a>
                    <span class="tooltip-text">Edit Profile</span>
                </div>
                <div class="tooltip-container">
                    <a href="{% url 'profile-delete' pk=profile.pk %}"><i class="fa-solid fa-trash"></i></a>
                    <span class="tooltip-text">Delete Profile</span>
                </div>
            </div>
            <h4><b>Username:</b> {{ request.user.username }}</h4>
            <h4><b>Email:</b> {{ request.user.email }}</h4>
            <h4><b>First name:</b> {{ request.user.profile.first_name }}</h4>
            <h4><b>Last name:</b> {{ request.user.profile.first_name }}</h4>
        </div>

    </div>

{% endblock %}