.user-info {
    margin: 0;
    line-height: 2.5rem;
    padding: 2rem;
}

.user-info h4 {
  margin: 0;
  padding: 0.5rem 0;
  width: 100%;
  border-bottom: 5px solid rgb(103, 192, 144);
  text-align:left;

}