#pending-tasks-section, #completed-tasks-section {
    gap: 20px;
    justify-content: center;
}

.tasks-container, #pending-tasks-section, #completed-tasks-section{
    margin-top: 100px;
    flex-wrap: wrap;
    gap: 50px;
    padding: 1rem;
    align-items: stretch;
}

.task-card {
    flex: 1 1 calc(20% - 50px);
    max-width: calc(20% - 1rem);
    border: 1px solid rgb(173, 238, 217);
    border-radius: 10px;
    padding: 1rem;
    background-color: rgb(173, 238, 217);
    box-sizing: border-box;
}

.task-card h3 {
    margin-bottom: 3px;
}

.active {
    display: flex;
}

#pending-tasks-section h1, #completed-tasks-section h1 {
    text-align: center;
    margin: 20px;
}


.date {
    font-size: 0.8rem;
    opacity: 0.7;
    margin-top: 3px;
    margin-bottom: 3px;

}

.status {
    font-weight: 800;
    font-size: 0.8rem;
}

.task-card p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.desc {
    position: relative;
    padding: 0.5rem 0.8rem;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 1.5rem;
    background: repeating-linear-gradient(
        to bottom,
        rgb(173, 238, 217),
        rgb(173, 238, 217) 1.5rem,
        #998f8f 1.6rem,
        #998f8f 1.5rem
    );
    font-family: "Courier New", monospace;
    border-radius: 6px;
}