{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="content-container">
        <div class="type-tasks">
            <a href="#" id="pending-tasks">Pending tasks</a>
            <a href="#" id="completed-tasks">Completed tasks</a>
        </div>
        <div class="tasks-container d-flex justify-content-center gap-3">
            <div id="pending-tasks-section">
                {% for task in pending_tasks %}
                    <div class="task-card d-flex" id="task-{{ task.pk }}" onclick="this.classList.toggle('flipped')">
                        <div class="task-card-inner">
                            <div class="task-card-front">
                                <div class="menu-container">
                                    <details id="task-details">
                                          <summary ></summary>
                                          <div class="popup-menu">
                                              <p><a href="{% url 'edit-task' pk=task.pk %}" class="times-new-roman">Edit</a></p>
                                              <p><a href="{% url 'delete-task' pk=task.pk %}" class="times-new-roman">Delete</a></p>
                                          </div>
                                    </details>
                                </div>
                                <h3>{{ task.name }}</h3>
                                <p class="date">Created at: {{ task.created_at }}</p>
                                <p class="status">Status: {{ task.status }}</p>
                                <p class="due-date">Due by: {{ task.due_by|date:"Y-m-d" }}</p>
                                <button type="button" class="btn btn-success complete-btn" data-task-id="{{ task.pk }}" data-task-url="{% url 'complete-task' task.pk %}">
                                    Mark as Completed
                                </button>
                            </div>
                            <div class="task-card-back">
                                <p class="desc">{{ task.description }}</p>
                            </div>
                        </div>

                    </div>
                {% empty %}
                    <h1> No tasks to show</h1>
                {% endfor %}
            </div>
        </div>
        <div class="tasks-container d-flex justify-content-center gap-3">
            <div id="completed-tasks-section">
                {% for task in completed_tasks %}
                    <div class="task-card d-flex" onclick="this.classList.toggle('flipped')">
                      <div class="task-card-inner">
                        <div class="task-card-front">
                          <div class="menu-container">
                            <details id="task-details">
                                  <summary ></summary>
                                  <div class="popup-menu">
                                      <p><a href="{% url 'edit-task' pk=task.pk %}" class="times-new-roman">Edit</a></p>
                                      <p><a href="{% url 'delete-task' pk=task.pk %}" class="times-new-roman">Delete</a></p>
                                  </div>
                            </details>
                          </div>
                          <h3>{{ task.name }}</h3>
                          <p class="date">Created at: {{ task.created_at }}</p>
                          <p class="status">Status: {{ task.status }}</p>
                          <p class="date">{{ task.accomplished_at }}</p>
                        </div>
                        <div class="task-card-back">
                          <p class="desc">{{ task.description }}</p>
                        </div>
                      </div>
                    </div>
                {% empty %}
                    <h1> No tasks to show</h1>
                {% endfor %}
            </div>
        </div>
    </div>


<script>
    const pendingTasks = document.getElementById("pending-tasks");
    const completedTasks = document.getElementById("completed-tasks");
    const pendingTasksSection = document.getElementById("pending-tasks-section");
    const completedTasksSection = document.getElementById("completed-tasks-section");

    function showPendingTasks() {
        pendingTasksSection.style.display = "flex";
        completedTasksSection.style.display = "none";
        pendingTasksSection.classList.add("active");
        completedTasksSection.classList.remove("active");

    }

    function showCompletedTasks() {
        pendingTasksSection.style.display = "none";
        completedTasksSection.style.display = "flex";
        pendingTasksSection.classList.remove("active");
        completedTasksSection.classList.add("active");

    }

    showPendingTasks();

    pendingTasks.addEventListener('click', showPendingTasks);
    completedTasks.addEventListener('click', showCompletedTasks);
const dueDateElements = document.querySelectorAll('.due-date');

dueDateElements.forEach(el => {
    const text = el.textContent;
    const dateStr = text.replace('Due by: ', '').trim();
    const dueDate = new Date(dateStr);
    const today = new Date();

    const diffTime = dueDate - today;
    const diffDays = Math.ceil(diffTime / (1000 * 60 * 60 * 24));

    if (diffDays >= 3) {
        el.style.color = 'green';
    } else if (diffDays === 2){
        el.style.color ='orange';
    } else if (diffDays <= 1) {
        el.style.color = 'red';
    }
});

document.querySelectorAll(".complete-btn").forEach(btn => {
    btn.addEventListener("click", function(event){
        event.stopPropagation();

        const button = this;
        const taskId = button.dataset.taskId;
        const url = button.dataset.taskUrl;

        fetch(url, {
            method: "POST",
            headers: {
                "X-CSRFToken": getCookie("csrftoken"),
                "X-Requested-With": "XMLHttpRequest"
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success){
                const taskCard = button.closest(".task-card");
                taskCard.querySelector(".status").textContent = "Status: completed";

                const completedDate = document.createElement("p");
                completedDate.classList.add("date");
                completedDate.textContent = data.accomplished_at;
                taskCard.querySelector(".task-card-front").appendChild(completedDate);

                button.remove();
            } else {
                console.error("Task completion failed:", data);
            }
        })
        .catch(err => {
            console.error("Fetch error:", err);
        });
    });
});

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== ""){
        const cookies = document.cookie.split(";");
        for (let cookie of cookies){
            cookie = cookie.trim();
            if (cookie.substring(0, name.length + 1) === (name + "=")){
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1 ));
                break;
            }
        }
    }
    return cookieValue;
}
document.addEventListener("click", function (e){

        const detailEl = document.getElementById("task-details");
        if (detailEl && !detailEl.contains(e.target)) {
            detailEl.removeAttribute("open")
        }
});

document.querySelectorAll("#task-details").forEach(menu => {
    menu.addEventListener("click", function (e){
        e.stopPropagation();

        const detailEl = document.getElementById();
        if (detailEl && !detailEl.contains(e.target)) {
            detailEl.removeAttribute("open")
        }
    });

});

</script>

{% endblock %}