{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="content-container">
        <div class="type-tasks">
            <a href="#" id="pending-tasks">Pending tasks</a>
            <a href="#" id="completed-tasks">Completed tasks</a>
        </div>

        <div id="pending-tasks-section">
            {% for task in pending_tasks %}
                <div class="task-card">
                    <h3>{{ task.name }}</h3>
                    <p>Created at: {{ task.created_at }}</p>
                    <p>{{ task.description }}</p>
                    <p>Status: {{ task.status }}</p>
                </div>
            {% empty %}
                <h1> No tasks to show</h1>
            {% endfor %}
        </div>
        <div id="completed-tasks-section">
            {% for task in completed_tasks %}
                <div class="task-card">
                    <h3>{{ task.name }}</h3>
                    <p>Created at: {{ task.created_at }}</p>
                    <p>{{ task.description }}</p>
                    <p>Status: {{ task.status }}</p>
                    <p>{{ task.accomplished_at }}</p>
                </div>
            {% empty %}
                <h1> No tasks to show</h1>
            {% endfor %}
        </div>

<script>
    const pendingTasks = document.getElementById("pending-tasks");
    const completedTasks = document.getElementById("completed-tasks");
    const pendingTasksSection = document.getElementById("pending-tasks-section");
    const completedTasksSection = document.getElementById("completed-tasks-section");

    function showPendingTasks() {
        pendingTasksSection.style.display = "flex";
        completedTasksSection.style.display = "none";
        pendingTasksSection.classList.add("active");
        completedTasksSection.classList.remove("active");

    }

    function showCompletedTasks() {
        pendingTasksSection.style.display = "none";
        completedTasksSection.style.display = "flex";
        pendingTasksSection.classList.remove("active");
        completedTasksSection.classList.add("active");

    }

    showPendingTasks();

    pendingTasks.addEventListener('click', showPendingTasks);
    completedTasks.addEventListener('click', showCompletedTasks);


</script>

{% endblock %}