<nav class="d-flex flex-column gap-4 align-items-center justify-content-center">
        {% if not user.is_authenticated %}
            <div class="tooltip-container">
                <a href="{% url 'login' %}">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <span class="tooltip-text">Log In</span>
                </a>

            </div>
        {% else %}
            <div class="tooltip-container">
                <a href="{% url 'home' %}">
                    <i class="fa-solid fa-house"></i>
                    <span class="tooltip-text">Home</span>
                </a>
            </div>
            <div class="tooltip-container">
                <a href="{% url 'profile-details' pk=request.user.pk %}">
                    <i class="fa-solid fa-user"></i>
                    <span class="tooltip-text">My Profile</span>
                </a>
            </div>
            <div class="tooltip-container">
                <a href="{%  url 'add-task' %}">
                    <i class="fa-solid fa-circle-plus"></i>
                    <span class="tooltip-text">Add task</span>
                </a>
            </div>
            <div class="tooltip-container">
                <a href="{% url 'list-tasks' %}">
                    <i class="fa-solid fa-border-all"></i>
                    <span class="tooltip-text">All tasks</span>
                </a>
            </div>
            <div class="tooltip-container">
                <a href="{% url 'logout' %}" onclick="event.preventDefault(); document.getElementById('logout-form').submit()";>
                    <i class="fa-solid fa-person-running"></i>
                    <span class="tooltip-text">Log Out</span>
                </a>
            </div>


        {% endif %}


</nav>

<form style="display:none" id="logout-form" action="{% url 'logout' %}" method="post">
    {% csrf_token %}
</form>

